{{>layouts/header}}
    <style>
        .wrapper-box {
            display: inline-block;
            align-items: center;
            text-align: center;
            border-radius: 10px;
            box-sizing: border-box;
            width: 100%;
            padding: 20px;
        }
        .image-box {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 50%;
        }
        .image {
            max-width: 42%;
        }
        .description-box {
            display: inline-block;
            vertical-align: middle;
            padding: 60px;
            max-width: 42%;
            box-sizing: border-box;
            border: 2px solid #E6F8E0; /* 테두리 색 변경 */
            order-radius: 10px;
            background-color: #E6F8E0; /* 박스 색 변경 */
        }
        .info-box {
            display: inline-block; /* 인라인 블록으로 설정하여 옆으로 나란히 배치 */
            vertical-align: middle;
            margin-top: 20px;
            text-align: left; /* 정보를 왼쪽으로 정렬 */
        }
        .title {
            font-size: 30px;
            font-weight: bold;
            font-family: "나눔고딕", sans-serif;
            background-color: white; /* 박스 배경색 */
            color: black; /* 텍스트 색상 */
            padding: 5px 5px; /* 내부 여백 설정 */
            border-radius: 5px; /* 박스 테두리 반경 설정 */
        }
        .author {
            font-family: "나눔고딕", sans-serif;
        }
        .rating {
            margin-top: 5px;
            font-family: "나눔고딕", sans-serif;
        }
        .age-limit {
            margin-top: 5px;
            font-family: "나눔고딕", sans-serif;
        }
        .publication-date {
            margin-top: 5px;
            font-family: "나눔고딕", sans-serif;
        }
        .interest {
            margin-top: 5px;
            font-family: "나눔고딕", sans-serif;
        }
        .hashtags {
            margin-top: 5px;
            font-family: "나눔고딕", sans-serif;
        }
    </style>

<div class="wrapper-box">
    <div class="image-box">
        {{#webtoons}}
        <img class="image" src="{{thumbnailUrl}}" alt="이미지 설명">
        {{/webtoons}}
    </div>
        <div class="description-box">
            {{#webtoons}}
            <div class="title">{{title}}</div>
            <div class="info-box">
                <div class="author"><strong>글 작가/그림 작가 :</strong> {{writer}} / {{painter}}</div>
                <div class="rating"><strong>별점 :</strong> {{starScore}}</div>
                <div class="age-limit"><strong>연령 제한 :</strong> {{age}}</div>
                <div class="publication-date"><strong>연재 요일 :</strong> {{publishDay}}</div>
                <div class="interest"><strong>관심도 :</strong> {{favorite}}</div>
                
                <div class="hashtags"><strong>해시태그 :</strong> <span id="hashTag">{{hashTag}}</span></div>
                <script>
                    // 해시태그 문자열을 가져옵니다.
                    var hashTagStr = document.getElementById('hashTag').innerText;
                    
                    // 해시태그 문자열을 배열로 변환합니다.
                    var hashTags = hashTagStr.split(',');
                    
                    // 각 해시태그 앞에 # 기호를 붙여줍니다.
                    for (var i = 0; i < hashTags.length; i++) {
                        hashTags[i] = '#' + hashTags[i].trim(); // trim()으로 양쪽 공백 제거
                    }
                    
                    // 변경된 해시태그 배열을 다시 문자열로 변환하고 화면에 출력합니다.
                    document.getElementById('hashTag').innerHTML = hashTags.join(' ');
                    </script>
            </div>
            
            {{/webtoons}}
        </div>
    </div>
</div>  

{{>layouts/footer}}