{{>layouts/header}}

<table class="table">
    <thread>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
    </thread>
    <tbody>
        {{#webtoonList}}
        <tr>
            <th>{{webtoonId}}</th>
            <th><a href="/articles/{{webtoonId}}">{{title}}</a></th>
            <th>{{hashTag}}</th>
        </tr>
        {{/webtoonList}}
    </tbody>
</table>

<a href="/articles/new">글쓰기</a>
{{>layouts/footer}}