{{>layouts/header}}

<style>
    .center-text {
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        {{#webtoonList}}
        <div class="col-md-2">
            <a href="/webtoons/{{webtoonId}}">
                <img src="{{thumbnailUrl}}" alt="Thumbnail" style="max-width: 100%;">
                <p class="center-text">{{title}}</p>
            </a>
        </div>
        {{/webtoonList}}
    </div>
</div>

{{>layouts/footer}}