{{>layouts/header}}
<table class='table'>
    <thread>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
    </thread>
    <tbody>
        {{#webtoonList}}
        <tr>
            <th>{{webtoonId}}</th>
            <th><a href="/webtoons/{{webtoonId}}">{{title}}</a></th>
            <th>{{hashTag}}</th>
        </tr>
        {{/webtoonList}}
    </tbody>
</table>

<a href="/webtoons">메인</a>
<a href="/webtoons/{{webtoons.id}}/edit" class="btn btn-primary">수정</a>
<a href="/webtoons/{{webtoons.id}}/delete" class="btn btn-danger">삭제</a>
{{>layouts/footer}}